<a href="https://colab.research.google.com/github/SyedaSariya/PYTHON-DA-ML/blob/main/SARIYA_Column(sunday).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

d={'col1':[1,2,3],
   'col2':[4,5,6],
   'col3':[7,8,9]}
d = pd.DataFrame(d)
d

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [6]:
#Write a Pandas program to select all the rows from the given DataFrame based on the criteria if value 4 is present in it

x = d.loc[d.isin([4]). any(axis=1)]
print(x)

   col1  col2  col3
0     1     4     7

In [7]:
#Write a Pandas program to reverse the order of a DataFrame columns

print(d[d.columns[::-1]])

   col3  col2  col1
0     7     4     1
1     8     5     2
2     9     6     3

In [8]:
#Write a Pandas program to add one row in an existing DataFrame(any values)

d.loc[len(d.index)]=[10,11,12]
print(d)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
3    10    11    12

In [9]:
#Write a Pandas program to delete DataFrame row(s) which has 5 in it

d.drop(3,axis=0,inplace=True)
d

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9